{% extends 'core/base.html' %}
{% load static %}


{% block main %}
<main>
  <div class="container text-center">
    <br>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Payment success!</h4>
      <p>Aww yeah, you are now subscribed!</p>
      <hr>
      <p class="mb-0">Navigate back to home to see the premium content</p>
      <a href="{% url 'home' %}"><span class="h4">Back To Home</span></a>
    </div>
  </div>
</main>

{% endblock main %}
