{% extends 'core/base.html' %}
{% load static %}


{% block extra_style %}
  <link rel="stylesheet" href="{% static 'css/userbase/user.css' %}">

{% endblock extra_style %}


{% block main %}
<div class="form-container">
  <main class="form-signin card text-center">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Username or Password is incorrect!
    </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <img src="{% static 'images/aben.png' %}" class="mb-4" width="100" height="100"></img>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
          type="text"
          name="username"
          id="floatingInput"
          placeholder="Username"
          class="form-control"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          name="password"
          id="floatingPassword"
          placeholder="Password"
          class="form-control"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          {{ errors }}
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
</div>

{% endblock main %}
