{% load static %}


<header class="p-3 bg-danger text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'images/aben.png' %}" class="bi me-2" width="40" height="32"></img>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
      </ul>

      {% if not user.is_authenticated %}
      <div class="text-end">
        <a class="btn btn-success" href="{% url 'login' %}">Sign in</a>
        <a class="btn btn-warning" href="{% url 'django_registration_register' %}">Sign up</a>
      </div>
      {% else %}
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% static 'images/user.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small text-center" aria-labelledby="dropdownUser1">
          <li><span class="dropdown-item" href="#">Hi <strong>{{ user }}!</span></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</header>
