{% extends 'core/base.html' %}
{% load static %}


{% block main %}
<main>
  <div class="container text-center">
    <br>
    <div class="alert alert-success" role="alert">
      <span class="h3">Thanks for signing up!</span>
    </div>
    <a href="{% url 'home' %}"><span class="h4">Back To Home</span></a>
  </div>
</main>

{% endblock main %}
